.title {
  width: 100%;
  text-align: left;
  /* font-size: 3rem; */
  color: #ffffff;
  margin-bottom: 0px;
  margin-left: 10px;
  background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.59);
}
