.wrapper {
  /* background-image: url("leaves.png"); */
  background: rgb(216, 255, 184);
  background-image: url("tile.png");
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  padding-bottom: 200px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
